<!-- <ion-header>
  <ion-toolbar class="the-header ion-no-padding">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="" color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon class="header-icon" name="empty"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">
      <h2>edfaly</h2>
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">



  <div id="container">
    <!-- <ion-header collapse="condense" > -->
    <ion-toolbar class="ion-no-padding">
      <ion-title class="ion-no-padding" size="large" slot="start">
        <!-- <div class="logo"> -->
          Logo
        <!-- </div> -->
      </ion-title>
    </ion-toolbar>
    <ion-grid class="main_header">
      <ion-row>
        <ion-col size="12">
          <h1 class="main_heading_title">Discover the magic of our surprise box</h1>
        </ion-col>
        <ion-col size="12">
          <p>
            Unleash your child's curiosity with our educational subscription box filled with fun and learning.
          </p>
        </ion-col>
        <ion-col size="12">
          <div class="subscribe_btn">
            <button> Subscribe Now</button>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-img src="../../assets/Placeholder Image.svg"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- </ion-header> -->
  </div>
</ion-content>